*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1, h2, h3, h4, p, ul, ol, li, fieldset, blockquote {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

video {
  width: 100%;
  height: auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  background: #1b1919;
  width: 1200px;
  height: 100%;
  font-size: 18px;
}

.content {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-inline: 30px;
}

.result {
  margin-top: auto;
}

.result__video-container {
  width: 711px;
  margin-bottom: 11px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.search-form {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: grid;
  gap: 5px;
  width: 100%;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__textfield {
  padding-block: 2px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  background: transparent;
  width: 225px;
  color: inherit;
  font: inherit;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus-visible {
  outline: 1px solid #ffffff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
  background-color: #ffffff;
}


.button {
  border: 1px solid #ffffff;
  background: transparent;
  padding-block: 6px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}


.content__details {
  width: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}


.content__list {
  height: 298px;
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin-bottom: 34px;
}


.content__card-link {
  display: block;
  padding: 2px;
  text-decoration: none;
  color: inherit;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  padding: 2px;
  padding-bottom: 5px;
  color: #ffffff;
  hyphens: auto;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16px;
  padding-inline: 2px;
  color: #ffffff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
